#clubphoto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.95;
}

#register-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: -1;
}


#contact-paragraph::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    } to {
        opacity: 1
    }
}

#yama-logo-left {
    margin-left: auto;
    animation: left 60s linear infinite;
}

#yama-logo-right {
    margin-right: auto;
    animation: right 60s linear infinite;
}

.flip-card {
    transform-style: preserve-3d;
}

.flip-front,
.flip-back {
    backface-visibility: hidden;
}

.flip-back,
.back-image {
    transform: rotateY(180deg);
}

.flip-card:hover {
    transform: rotateY(180deg)
}

@keyframes left {
    0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-1920px, 0, 0); /* The image width */
      }
}

@keyframes right {
    0% {
        transform: translate3d(-1920px, 0, 0); /* The image width */
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
}

.bounce {
    animation: bounce 2s ease infinite;
    user-select: none;
    box-shadow: none;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

@media (min-width: 600px) {
    .yama-welcome {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

@media (max-width: 700px) {
    .yama-welcome {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}


/* 1025px+ is lg */
@media (min-width: 1025px) { 

    #clubphoto {
        height: 100vh;
    }
    #york-logo-container {
     
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #yama-welcome-container {
        width: 50%;
        
    }

    #about-img {
        width: 600px;
        height: 55%;
        margin: 0 2%;
    }
    
    .navigation {
        margin: 0 2%;
    }
}

@media(max-width: 1025px) {
    .navigation {
        display: none;
    }
}

@media (min-width: 1600px) {

    #about-us-title {
        font-size: 45px;
    }

    #about-img {
        width: 800px;
        height: 80%;
    }
    
    .navigation {
        font-size: 30px;
    }

}


@media (min-width: 2000px) {

    /* .yama-welcome {
        font-size: 5rem;
    } */

    #first-section {
        flex-direction: column;
    }

    #intro-paragraph,
    #slideshow {
        width: 100%;
        min-height: 75rem;
        padding: 5rem 0;
    }

    #paragraph {
        font-size: 3.25rem;
        line-height: 8rem;
    }

    .logo-container {
        transform: scale(1.5,1.5)
    }

    /* .york-2024 {
        font-size: 4em;
    } */

    
}

@media (min-width: 2300px) {

    #intro-paragraph,
    #slideshow {
        width: 100%;
        min-height: 75rem;
    }

    #paragraph {
        font-size: 4rem;
        line-height: 8rem;
    }

    #yama-logo-left,
    #yama-logo-right {
        width: 9000px;
    }

    .yama-welcome {
        font-size: 8rem;
    }
}

@media (min-width: 2400px) {
    .yama-welcome {
        font-size: 10rem;
    }
    .york-2024 {
        font-size: 5rem;
    }

    #explore-button {
        width: 22rem;
        height: 10rem;
        font-size: 3rem;
    }

    #explore-button-arrow {
        font-size: 5rem;
    }
}

