#clubphoto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.95;
}

#register-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: -1;
}

#contact-paragraph::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    } to {
        opacity: 1
    }
}

#yama-logo-left {
    margin-left: auto;
    animation: left 60s linear infinite;
}

#yama-logo-right {
    margin-right: auto;
    animation: right 60s linear infinite;
}

@keyframes left {
    0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-1920px, 0, 0); /* The image width */
      }
}

@keyframes right {
    0% {
        transform: translate3d(-1920px, 0, 0); /* The image width */
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
}

@media (min-width: 600px) {
    .yama-welcome {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

@media (max-width: 700px) {
    .yama-welcome {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}



@media (max-width: 1600px) {
    
    #third-paragraph {
        flex-direction: column;
        height: 1000px;
    }

    #register-paragraph {
        width: 100%;
        height: 50%;
        background-size: cover;
    }

    #register-paragraph ul,
    #contact-paragraph ul {
        margin: 0;
    }

    #contact-paragraph {
        width: 100%;
        height: 50%;
        background-size: cover;
    }
}

@media (max-width: 800px) {
    #register-list,
    #contact-list {
        width: 100%;
    }
}

@media (max-width: 1200px) {

    #second-paragraph {
        height: 250px;
    }
    
    #contact-list {
        font-size: 20px;
        margin: 0;
    }
}

/* 1025px+ is lg */
@media (min-width: 1025px) { 

    #clubphoto {
        height: 100vh;
    }
    #york-logo-container {
        /* border: 2px solid red; */
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #yama-welcome-container {
        width: 50%;
        
    }

    #about-img {
        width: 600px;
        height: 55%;
        margin: 0 2%;
    }
    
    #benefits {
        width: 50%;
    }

    #access {
        font-size: 35px;
    }
    #access-1 p,
    #access-2 p {
        font-size: 20px;
    }

    #second-paragraph {
        height: 250px;
    }

    .navigation {
        margin: 0 2%;
    }
}

@media(max-width: 1025px) {
    .navigation {
        display: none;
    }
}

@media (min-width: 1600px) {

    #about-us-title {
        font-size: 45px;
    }

    #about-img {
        width: 800px;
        height: 80%;
    }
    #access {
        font-size: 45px;
    }
    #access-1 p,
    #access-2 p {
        font-size: 25px;
    }

    .navigation {
        font-size: 30px;
    }

}

@media (min-width: 2500px) {
    #intro-paragraph p {
        font-size: 75px;
    }

    #about-us-title {
        font-size: 80px;
    }
}

@media (min-width: 3000px) {
    #intro-paragraph p {
        font-size: 85px;
    }

    #about-us-title {
        font-size: 100px;
    }
}
