#clubphoto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
}

#about-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    /* border: 3px solid red; */
}

#yama-logo {
    transform: scale(.92,.92)
}

#register-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: -1;
}

#contact-paragraph::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}


@media (min-width: 600px) {
    .yama-welcome {
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
    }
}

@media (max-width: 700px) {
    .yama-welcome {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
}

/* @media (max-width: 1700px) {
    #intro-paragraph {
        border: 2px solid black;
    }
} */

@media (max-width: 1600px) {

    .first-section {
        flex-direction: column;
    }

    #intro-paragraph {
         width: 100%;
         background: none;
         font-weight: 500;
    } 
    
    #benefits {
        width: 100%;
        border: 2px solid red;
    }

    #second-paragraph {
        height: 300px;
    }

    #third-paragraph {
        flex-direction: column;
        height: 1000px;
    }

    #register-paragraph {
        width: 100%;
        height: 50%;
        background-size: cover;
    }

    #register-paragraph ul,
    #contact-paragraph ul {
        margin: 0;
    }

    #contact-paragraph {
        width: 100%;
        height: 50%;
        background-size: cover;
    }
}

@media (max-width: 800px) {

    #intro-paragraph {
        font-size: 18px;
    }

    #access-1 p,
    #access-2 p {
        font-size: 18px;
    }

    .navigation {
        display: none;
    }

    #register-list,
    #contact-list {
        width: 100%;
    }
}

@media (max-width: 1200px) {

    #access {
        display: none;
    }

    #benefits {
        height: 50%;
    }

    #second-paragraph {
        height: 250px;
    }
    
    #contact-list {
        font-size: 20px;
        margin: 0;
    }
}


@media (max-width: 1600px) and (min-width: 1000px) {

    /* #home-container {
        height: 550vh;
        border: 4px solid green;
    }

    #membership {
        height: 600px;
        border: 2px solid blue;
    } */
}
